<!DOCTYPE html>
<html>
<body>

<h1>Test suite triggered at {{ commit.triggerTime }}</h1> <!-- link back to Github here or below? -->

{% if commit.resultset_set.all %} <!-- TODO will this work correctly if it's an empty list (but not None?) -->
    {% if commit.passed %}
        <p>Passed</p>
    {% else %}
        <p>Failed</p>
    {% endif %} <!-- TODO display colors -->
    <ul>
    {% for resultset in commit.resultset_set.all %}
        {% if resultset.passed %}
            <li><a href="{% url 'aggregator:resultset' resultset.id %}">{{ resultset.sourceID }}</a> -- Passed</li>
        {% else %}
            <li><a href="{% url 'aggregator:resultset' resultset.id %}">{{ resultset.sourceID }}</a> -- Failed</li>
        {% endif %} <!-- colors -->
    {% endfor %}
    </ul>
{% else %}
    <p>No results for this test suite have been submitted yet.</p>
{% endif %}

</body>
</html>